.owner {
  display: flex;
}

.owner__names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #ff6060;
  font-size: 130%;
  margin-right: 10px;
  line-height: 150%;
  width: 1px;
  word-spacing: 100%;
  text-align: right;
}

.owner__first-name,
.owner__last-name {
  margin-right: 10px;
}

.owner__first-name {
  margin-bottom: 5px;
}

.owner__profile-picture {
  border-radius: 100px;
  height: 64px;
  width: 64px;
  background: #c4c4c4;
}

@media screen and (max-width: 800px) {
  .owner__names {
    font-size: initial;
  }
}
